<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Storystrap
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"></div>
      </div>
    </div>
  </div><!-- /cont -->

</div>


<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">


          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              Sign In
              <form name="signInForm"
                    action="/auth/signIn"
                    method="post">
                <label>
                  Username:
                  <input name="userName" id="userName">
                </label>
                <label>
                  Password:
                  <input name="password" id="password">
                </label>
                <input type="submit" value="signUp">

              </form>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Sing Up</h3>
              <form name="signUpForm"
                    action="/auth/signUp"
                    method="post">
                <label>
                  Username:
                  <input name="userName" id="userName">
                </label>
                <label>
                  Password:
                  <input name="password" id="password">
                </label>
                <input type="submit" value="signUp">

              </form>
            </div>
          </div>
          <hr>
          <!--/stories-->
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


        </div>
      </div>
    </div><!--/col-12-->
  </div>
</div>
